.cards {
  color: black;
  border-radius: 10%;
  border-style: groove;
  border-color: black;
  text-decoration: none;
  background-color:rgba(117, 162, 194, 0.85);
  margin-left: 10px;
  display: table-row-group;
  font-size: 15px;
}

.cards:hover {
  color: black;
  border-radius: 10%;
  border-style:dotted;
  border-color: black;
  text-decoration: none;
  background-color:rgba(0, 149, 255, 0.95);
  margin-left: 10px;
  display: table-row-group;
  font-size: 20px;
}

a:link, .cards {
  border-radius: 10%;
  text-decoration: none;
}