.alpha {
  font-size: 100px;
}

.home {
  background-color: bisque;
  display: inline;
  size: 50px;
}

.little {
  color: black;
}

.little:hover {
  size: 80px;
}

.world {
  color: rgb(28, 77, 52);
  background-color: rgb(255, 255, 255, 0.4);
}

.sdo {
  display: flex;
}

.btns {
  color: rgb(0, 0, 0);
  float: center;
  display: block;
  padding: 8px 16px;
  margin-top: 80px;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: hsl(224, 75%, 51%, 0.4);
}

