.paginado {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 .5rem;
}
      
.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
}
      
/* .pagination li {
  margin: 0 1px;
  background-color: black;
  color: #c7a84b;
  
} */

.pagination button:hover {
  cursor: pointer;
  transition: 0.3s ease;
  transform: scale(1.15);
}

.PagActive{
  background-color: #1a83ff;
  color: #000;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 3px;
  border: none;
}

.PagInactive{
  background-color: black;
  color: #c7a84b;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 3px;
  border: none;
}

.PagInactive:hover, .PagActive:hover{
  background-color: #c7a84b;
  color: black;
  transition: 0.2s;
}

.prevNext{
  background-color: black;
  color: #c7a84b;
  height: 1.5rem;
  width: 3rem;
  border-radius: 3px;
  border: none;
}

.prevNext:hover{
  background-color: #c7a84b;
  color: black;
  transition: 0.2s;
}

/* .buttonPaginado:focus{
  background-color: #c7a84b;
  color: black;
} */

/* .number{
  background-color: black;
  color: #c7a84b;
} */

/* .EdgeInactive {
  margin: 0 0.1rem;
  background-color: rgb(98, 8, 8);
  color: #c7a84b;
  font-size: medium;
  height: 2.5rem;
  width: 1.5rem;
  border-radius: 7px;
  border: none;
} */

.EdgeInactive:hover{
  background-color: #c7a84b;
  color: black;
  transition: 0.2s;
}

/* .edge:focus{
  background-color: #c7a84b;
  color: black;
} */
/* .pagination{
  display: inline-block;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

.pagination li {
  display: inline;
}

.pagination a {
  color: rgb(0, 0, 0);
  float: left;
  padding: 8px 16px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #efb810;
}


.pagination a:hover{
  background: #000000;
  color: aliceblue;


} */